In [1]:
# Let's use SQLite and the sqlite3 library
import sqlite3
import pandas as pd

In [2]:
# Viewing the results in the form of DataFrame
def should_display_table_result(db):
  db = cursor_db.fetchall()
  db = pd.DataFrame(db)
  display(db)

In [3]:
# Connecting to the database
con_db = sqlite3.connect("pharmacy.db")

# Creating a cursor
cursor_db = con_db.cursor()

In [5]:
# Create my table
cursor_db.execute("""
  CREATE TABLE products( 
	  id INTEGER PRIMARY KEY AUTOINCREMENT,
    product_name VARCHAR(255),
    product_type VARCHAR(255),
    retention_revenue BOOLEAN,
    generic_medicine BOOLEAN,
    product_value DECIMAL (8,2)
  )
""")

cursor_db.execute("""
  CREATE TABLE category (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    client_name VARCHAR(255),
    medicine BOOLEAN,
	  cosmetics BOOLEAN,
    personal_hygiene BOOLEAN,

    product_id INTEGER,
    
    foreign key (product_id) references products(id)
  )
""")

# Saving changes
con_db.commit()

In [6]:
# Adding my records
product_datas = [
  ['Doril - pct c/ 4 comprimidos', 'analgesico', False, False, 14.95],
  ['Tylenol - 500mg', 'analgesico', False, False, 22.72],
  ['Clonazepam - 2,0mg', 'ansiolitico', True, True, 21.94],
  ['Sabonete Liquido Dove - Nutricao Profunda', 'Outros', False, False, 10.49],
  ['Fralda descartavel Huggies G - 60un', 'Outros', False, False, 57.97],
  ['Creme Facial Eucerin com Ac. Hialuronico + Vit C - 8ml', 'Outros', False, False, 87.92],
  ['Creme dental Sensodyne 100g', 'Outros', False, False, 16.50],
  ['Fluconazol 150mg', 'Antifungico', False, True, 6.43],
  ['Amoxilina 500mg - 21 capsulas', 'Antibiotico', True, True, 15.24],
  ['Velija 60mg', 'Antidepressivo', True, True, 165.50]
]
for data in product_datas:
  cursor_db.execute("INSERT INTO products (product_name, product_type, retention_revenue, generic_medicine, product_value) VALUES (?, ?, ?, ?, ?);", (data[0], data[1], data[2], data[3], data[4]))
  # Saving changes
  con_db.commit()

In [7]:
# Fetching records from this table
cursor_db.execute('SELECT * FROM products')

should_display_table_result(cursor_db)

,0,1,2,3,4,5
0,1,Doril - pct c/ 4 comprimidos,analgesico,0,0,14.95
1,2,Tylenol - 500mg,analgesico,0,0,22.72
2,3,"Clonazepam - 2,0mg",ansiolitico,1,1,21.94
3,4,Sabonete Liquido Dove - Nutricao Profunda,Outros,0,0,10.49
4,5,Fralda descartavel Huggies G - 60un,Outros,0,0,57.97
5,6,Creme Facial Eucerin com Ac. Hialuronico + Vit...,Outros,0,0,87.92
6,7,Creme dental Sensodyne 100g,Outros,0,0,16.50
7,8,Fluconazol 150mg,Antifungico,0,1,6.43
8,9,Amoxilina 500mg - 21 capsulas,Antibiotico,1,1,15.24
9,10,Velija 60mg,Antidepressivo,1,1,165.50

In [8]:
# Adding my records
category_datas = [
  ["Carlos", 1, True, False, False],
  ["Tatiane", 4, False, False, True],
  ["Pamela", 5, False, False, True],
  ["Fernando", 10, True, False, False],
  ["Daniel", 6, False, True, False],
  ["Fabricia", 7, False, False, True],
]
for data in category_datas:
  cursor_db.execute("INSERT INTO category (client_name, product_id, medicine, cosmetics, personal_hygiene) VALUES (?, ?, ?, ?, ?);", (data[0], data[1], data[2], data[3], data[4]))
  # Saving changes
  con_db.commit()

In [9]:
# Fetching records from this table
cursor_db.execute('SELECT * FROM category')

should_display_table_result(cursor_db)

   0         1  2  3  4   5
0  1    Carlos  1  0  0   1
1  2   Tatiane  0  0  1   4
2  3    Pamela  0  0  1   5
3  4  Fernando  1  0  0  10
4  5    Daniel  0  1  0   6
5  6  Fabricia  0  0  1   7

In [10]:
cursor_db.execute('SELECT * FROM products INNER JOIN category on products.id = category.id')
should_display_table_result(cursor_db)

,0,1,2,3,4,5,6,7,8,9,10,11
0,1,Doril - pct c/ 4 comprimidos,analgesico,0,0,14.95,1,Carlos,1,0,0,1
1,2,Tylenol - 500mg,analgesico,0,0,22.72,2,Tatiane,0,0,1,4
2,3,"Clonazepam - 2,0mg",ansiolitico,1,1,21.94,3,Pamela,0,0,1,5
3,4,Sabonete Liquido Dove - Nutricao Profunda,Outros,0,0,10.49,4,Fernando,1,0,0,10
4,5,Fralda descartavel Huggies G - 60un,Outros,0,0,57.97,5,Daniel,0,1,0,6
5,6,Creme Facial Eucerin com Ac. Hialuronico + Vit...,Outros,0,0,87.92,6,Fabricia,0,0,1,7